//- @jadedoc
  name: foo

div.foo

//- @jadedoc
  name: faa

div.faa


//- @jadedoc
  name: mixin
  description: this is a mixin
  arguments:
    one: hello
    two: world
  foo: faa
  beep: boop
  list:
    foo
    faa

mixin foo(one, two)
  p #{one}
  p #{two}
